<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Album download</title>
  </head>
  <body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js" ></script>
<script type="text/javascript">
$(function(){
    $.get("https://graph.facebook.com/430932723609543/?fields=name&method=GET&format=json&access_token="+window.location.hash.slice(14,-16),function(response1){
        response1=JSON.parse(response1);
        $.get("https://graph.facebook.com/430932723609543/photos?fields=source&method=GET&format=json&access_token="+window.location.hash.slice(14,-16),function(response){
            response=JSON.parse(response);
            li=[];
            $.each(response.data,function(i){
            li[i]=response.data[i].source;
            });
            $.post("/aldown/",{'li1':li,'name':response1.name},function(response2){
                if(response2.redirect_url){window.location.href=response2.redirect_url;}
            });
        });
    });
});
</script>
  </body>
</html>